*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
main{
    width: 100%;
    height: 600px;
    border: 2px solid;
}
.left-section{
    width: 70%;
    height: 100%;
    border: 5px solid red;
    float: left;
}
.right-section{
    width: 30%;
    height:100% ;
   float: right;
    border: 5px solid rgb(89,0,255);
}
